.tooltip {
    position: relative;
}

.icon {
    padding: .125rem .5rem;
    background-color: black;
    border-radius: 50%;
    color: white;
}

.content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + .5rem);
    padding: .5rem;
    // display: none;
    background-color: black;
    color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.75);
}